body {
    background: #f4f4f4;
}

/*navbar*/
.navbar {
    min-height: 50px !important;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 6px !important;
    padding-bottom: 0 !important;
    height: 33px;
} .navbar-default {
    background-color: #000;
    border-color: #4682B4;
    border-left: none;
  }
  .navbar-default .navbar-brand {
    color: #ecf0f1;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #B0C4DE;
  }
  .navbar-default .navbar-text {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav > li {
    margin-top: 10px;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #B0C4DE;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #B0C4DE;
    background-color: #333333;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #B0C4DE;
    background-color: #4682B4;
  }
  .navbar-default .navbar-toggle {
    border-color: #B0C4DE;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #333333;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar-default .navbar-link {
    color: #ecf0f1;
  }
  .navbar-default .navbar-link:hover {
    color: #B0C4DE;
  }

  /*custom*/
  .main-color-bg{
    background-color: #333333 !important;
    border-color: #333333 !important;
    color:#ffffff !important;
  }

  /*header*/
  #header {
    background:#4682B4;
    color:#ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  #header small{
    color: #000;
  }

  #header .create {
    padding-top: 20px;
  }

  /* Breadcrumb */
.breadcrumb{
    background:#333333;
    color:#fff;
  }
  
  .breadcrumb a{
    color:#ecf0f1;
  }

  /*progress-bar*/
  .progress-bar {
      background: #333;
      color: #fff;
  }

  .dash-box {
      text-align: center;
  }

  #login {
      margin-top: 30px;
  }


  footer {
      background-color: #333;
      text-align: center;
      padding: 30px;
      margin-top: 30px;
      color: #fff;
  }
  footer span {
    color: #4682B4;
  }
  /* log in */
  #main form {
    margin-top: 86px;
    margin-bottom: 86px;
  }
  #header img{
    margin-left: 400px;
  }
  #header .account_login {
    margin-left: 110px;
    margin-top: 30px;
  }
  .log_in {
    margin-top: 5px;
  }
  @media (max-width: 500px) {
    header h1 {
      font-size: 26px;
      padding-bottom: 16px;
    }
    #main form {
      margin-top: 84px;
      margin-bottom: 84px;
  }
  }
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #B0C4DE;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #B0C4DE;
      background-color: #4682B4;
    }
    #header img{
      margin-left: 10px;
      margin-bottom: 10px;
    }
    #header .account_login {
      margin-left: 110px;
      margin-top: -70px;
    }
    .log_in {
      margin-left: 20px;
    }
  }
  @media (max-width: 867px) {
    #header img{
      margin-left: 10px;
      margin-bottom: 10px;
    }
    #header .account_login {
      margin-left: 110px;
      margin-top: -70px;
    }
  }
  
  @media (min-width: 868px) and (max-width: 1000px) {
    #header img{
      margin-left: 10px;
      margin-bottom: 10px;
    }
    #header .account_login {
      margin-left: 110px;
      margin-top: -70px;
    }
  }
  @media (min-width: 1001px) and (max-width: 1200px) {
    #header img{
      margin-left: 300px;
      margin-bottom: 0px;
    }
    #header .account_login {
      margin-left: 80px;
      margin-top: 30px;
    }
  }
 
